@media screen and (max-width: 414px) and (min-width: 320px) {

    .menu {
        max-width: 413px;
        height: 34px;
    }

    .four_2_1nope {
        display: none;
    }

    .fift__none {
        display: none !important;
    }

    .menu__1 {
        justify-content: start;
        margin: 0;
        width: 200px;
    }

    .menu__1_mobile {
        display: flex;
        justify-content: start;
    }

    .nav-link, .dropdown-toggle {
        background: none;
        border: none;
    }

    .nav > a {
        display: none;
    }

    .items {
        max-width: 414px;
    }

    .items__first_1 {
        margin: 5px;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }

    .items__first_text > b {
        width: 71px;
        height: 13px;
    }

    .items__first_2 {
        display: none !important;
    }

    .items__first_3 {
        display: none !important;
    }

    .btn__1 {
        width: 162px;
        height: 35px;
        margin-left: 55px;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 0;
        margin-top: 60px;
    }

    .btn__1 > b {
        width: 108px;
        height: 12px;
    }

    .contakt {
        margin-left: -170px;
        margin-top: 5px;
    }

    .items__second_1text {
        display: none;
    }

    .items__second_1 {
        margin-left: 10px;
        display: flex;
        width: 50px;
    }

    .katalog__1 {
        margin-top: 18px;
        margin-left: 17px;
        width: 40px;
    }

    .items__second_3 {
        display: none !important;
    }

    .items__second_3_before {
        display: none !important;
    }

    input {
        width: 250px;
        margin-left: -20px;
    }

    .btn__2 {
        display: none;
    }

    .searches {
        display: flex;
    }

    .fourth__1 {
        width: 350px;
        height: 195px;
        margin: 15px;
    }

    .fourth {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .fourth__1 > img {
        display: none;
    }

    .fourth__text > h1 {
        margin-top: 4px;
        font-size: 16px;
        line-height: 19px;
        margin-left: 40px;
    }

    .fourth__text > h3 {
        font-size: 10px;
        line-height: 12px;
        margin-left: -222px;
        margin-top: -25px;
    }

    .text__h2h5 > h2 {
        width: 108px;
        height: 23px;
        font-size: 20px;
        line-height: 23px;
        color: #005BB9;
        margin-left: 0;
    }

    .text__h2h5 > h5 {
        width: 75px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #C2C5DA;
        margin-left: -18px;
        margin-bottom: 0;
    }

    .text__h2h5 {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -150px;
        margin-top: -8px;
    }

    .btn__3 {
        margin-left: -145px;
        margin-top: 2px;
    }

    .kolo {
        margin-top: 15px;
        margin-left: 6px;
    }

    .img__left {
        display: none;
    }

    .fourth__img > img {
        width: 131px;
        height: 111px;
    }

    .fourth__img {
        width: 131px;
        height: 111px;
        margin-left: 200px;
        margin-top: -190px;
    }

    .fourth__2 {
        display: flex;
        flex-direction: row !important;
    }

    .fourth__2_1 {
        margin-left: 20px;
    }

    .fourth {
        height: 450px;
    }

    .fifth {
        margin-left: -18px;
    }

    .fifth__1 > img {
        display: none;
    }

    .fifth__1 {
        width: 300px;
        height: 136px;
        margin-left: 57px;
    }

    .fifth__img > img {
        width: 74px;
        height: 97px;
        margin-left: 10px;
        margin-top: 30px;
    }

    .fifth__text > h3 {
        font-size: 16px;
    }

    .fifth__text > p {
        font-size: 10px;
    }

    .fifth__1 > .m-4 {
        margin: 5px !important;
    }

    .sixth__1 {
        margin-left: 3px;
    }

    .sixth__1 > p {
        width: 159px;
    }

    .sixth {
        width: 400px;
    }

    .sixth__3 > p {
        width: 150px;
    }

    .seventh {
        width: 414px;
    }

    .seventh__1_1 {
        width: 138px;
        height: 266px;
        margin-left: 35px;
    }

    .seventh__1_1 > img {
        width: 149px;
        height: 127px;
    }

    .seventh__1_1 > h6 {
        width: 138px;
        height: 34px;
        font-style: normal;
        font-size: 12px;
        line-height: 17px;
        color: #0A1A2C;
    }

    .nope {
        display: none !important;
    }

    .group__141 {
        display: none;
    }

    .seventh__2 > .nop {
        display: flex;
    }

    .seventh__1 {
        height: 350px;
    }

    .seventh__2 {
        height: 350px;
    }

    .seventh__more {
        margin-left: 100px;
    }

    .eigth {
        display: none;
    }

    .items > h1 {
        margin-left: 50px;
        margin-top: 50px;
    }

    .nineth {
        height: 1100px;
        flex-direction: column;
    }

    .nineth__1 {
        margin-left: 50px;
        margin-top: 20px;
    }

    .nineth__2 {
        margin-left: 50px;
        margin-top: 10px;
    }

    .nineth__3 {
        margin-left: 50px;
        margin-top: 10px;
    }

    .nineth__4 {
        margin-left: 50px;
        margin-top: 10px;
    }

    .tenth {
        height: 1500px;
        flex-direction: column !important;
    }

    .tenth__1 {
        margin-left: 50px;
    }

    .tenth__1_4 > input {
        width: 230px;
    }

    .write {
        width: 100px;
    }

    .tenth__contact {
        margin-left: 30px;
    }

    .tenth__1_2 {
        margin: 0;
    }

    .tenth__1_3 {
        margin-left: 20px;
    }

    .text__6_contakt {
        margin-left: 20px;
        line-height: 60px;
    }

    .nop {
        display: flex !important;
    }

    .contakt > p {
        width: 154px;
    }
}

@media screen and (max-width: 600px) and (min-width: 415px) {

    .menu {
        max-width: 600px;
        height: 34px;
    }

    .menu__1 {
        justify-content: start;
        margin-left: -79px;
        width: 1px;
    }

    .menu__1_mobile {
        display: flex;
        justify-content: start;
    }

    .nav-link, .dropdown-toggle {
        background: none;
        border: none;
    }

    .nav > a {
        display: none;
    }

    .items {
        max-width: 600px;
    }

    .items__first_1 {
        margin: 5px;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        max-width: 414px;
    }

    .items__first_text > b {
        width: 71px;
        height: 13px;
    }

    .items__first_2 {
        display: none !important;
    }

    .items__first_3 {
        display: none !important;
    }

    .btn__1 {
        height: 35px;
        margin-left: 55px;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 0;
        margin-top: 60px;
    }

    .btn__1 > b {
        width: 108px;
        height: 12px;
    }

    .contakt {
        margin-left: -170px;
        margin-top: 5px;
    }

    .items__second_1text {
        display: none;
    }

    .items__second_1 {
        margin-left: 10px;
        display: flex;
        width: 50px;
    }

    .katalog__1 {
        margin-top: 18px;
        margin-left: 17px;
        width: 40px;
    }

    .items__second_3 {
        display: none !important;
    }

    .items__second_3_before {
        display: none !important;
    }

    input {
        width: 390px;
        margin-left: -20px;
    }

    .btn__2 {
        display: none;
    }

    .searches {
        display: flex;
    }

    .fourth__1 {
        width: 515px;
        height: 220px;
        margin: 25px;
        border-radius: 20px;
    }

    .fourth {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .fourth__1 > img {
        display: none;
    }

    .fourth__text > h1 {
        margin-top: 4px;
        font-size: 20px;
        line-height: 19px;
        margin-left: 40px;
    }

    .fourth__text > h3 {
        font-size: 14px;
        line-height: 12px;
        margin-left: -200px;
        margin-top: -25px;
    }

    .text__h2h5 > h2 {
        width: 108px;
        height: 23px;
        font-size: 20px;
        line-height: 23px;
        color: #005BB9;
        margin-left: -17px;
    }

    .text__h2h5 > h5 {
        width: 75px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #C2C5DA;
        margin-left: -18px;
        margin-bottom: 0;
    }

    .text__h2h5 {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -150px;
        margin-top: -8px;
    }

    .btn__3 {
        margin-left: -145px;
        margin-top: 2px;
    }

    .kolo {
        margin-top: 15px;
        margin-left: 144px;
    }

    .img__left {
        display: none;
    }

    .fourth__img > img {
        width: 147px;
        height: 135px;
    }

    .fourth__img {
        width: 131px;
        height: 111px;
        margin-left: 330px;
        margin-top: -190px;
    }

    .fourth__2 {
        display: flex;
        flex-direction: row !important;
    }

    .fourth__2_1 {
        margin-left: 1px;
    }

    .fourth {
        height: 450px;
    }

    .fifth {
        margin-left: -18px;
    }

    .fifth__1 > img {
        display: none;
    }

    .fifth__1 {
        width: 264px;
        height: 136px;
        margin-left: 30px;
    }

    .fifth__img > img {
        width: 90px;
        height: 130px;
        margin-left: -6px;
        margin-top: 10px;
    }

    .fifth__img_2 > img {
        width: 90px;
        height: 130px;
        margin-left: -25px;
        margin-top: 12px;
    }

    .fifth__text > h3 {
        font-size: 16px;
    }

    .fifth__text > p {
        font-size: 13px;
        width: 150px;
        line-height: 7px;
    }

    .fifth__1 > .m-4 {
        margin: 5px !important;
    }

    .sixth__1 {
        margin-left: 3px;
    }

    .sixth__1 > p {
        width: 159px;
    }

    .sixth {
        width: 530px;
    }

    .sixth__3 > p {
        width: 150px;
    }

    .seventh {
        width: 550px;
    }

    .seventh__1_1 {
        width: 220px;
        height: 266px;
        margin-left: 35px;
    }

    .seventh__1_1 > img {
        width: 168px;
        height: 132px;
    }

    .seventh__1_1 > h6 {
        width: 138px;
        height: 34px;
        font-style: normal;
        font-size: 12px;
        line-height: 17px;
        color: #0A1A2C;
    }

    .nope {
        display: none !important;
    }

    .group__141 {
        display: none;
    }

    .seventh__2 > .nop {
        display: flex;
    }

    .seventh__1 {
        height: 350px;
    }

    .seventh__2 {
        height: 350px;
    }

    .seventh__more {
        margin-left: 150px;
        margin-top: 10px;
    }

    .eigth {
        display: none;
    }

    .items > h1 {
        margin-left: 50px;
        margin-top: 50px;
    }

    .nineth {
        height: 1100px;
        flex-direction: column;
    }

    .nineth__1 {
        margin-left: 50px;
        margin-top: 20px;
    }

    .nineth__2 {
        margin-left: 50px;
        margin-top: 10px;
    }

    .nineth__3 {
        margin-left: 50px;
        margin-top: 10px;
    }

    .nineth__4 {
        margin-left: 50px;
        margin-top: 10px;
    }

    .tenth {
        height: 1500px;
        flex-direction: column !important;
    }

    .tenth__1 {
        margin-left: 50px;
    }

    .tenth__1_4 > input {
        width: 230px;
    }

    .write {
        width: 100px;
    }

    .tenth__contact {
        margin-left: 30px;
    }

    .tenth__1_2 {
        margin: 0;
    }

    .tenth__1_3 {
        margin-left: 20px;
    }

    .text__6_contakt {
        margin-left: 20px;
        line-height: 60px;
    }

    .nop {
        display: flex !important;
    }

    .contakt > p {
        width: 154px;
    }

    .nineth__1 > p {
        width: 440px;
    }

    .nineth__2 > h6 {
        width: 340px;
    }

    .nineth__3 > h6 {
        width: 340px;
    }

    .nineth__4 > h6 {
        width: 340px;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .menu {
        max-width: 768px;
        height: 34px;
    }

    .menu__1 {
        justify-content: start;
        margin-left: -69px;
        width: 474px;
    }

    .nav-pills .nav-link {
        display: flow-root;
    }

    .menu__1_mobile {
        display: flex;
        width: 132px;
        justify-content: start;
    }

    .nav-link, .dropdown-toggle {
        background: none;
        border: none;
    }

    .nav > a {
        display: flex;
        flex-direction: column;
    }

    .items {
        max-width: 768px;
    }

    .items__first_1 {
        margin: 5px;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        max-width: 414px;
    }

    .items__first_text > b {
        width: 71px;
        height: 13px;
    }

    .items__first_2 {
        width: 180px;
        margin-top: 6px;
        flex-direction: column;
        margin-left: 9px;
    }

    .items__first_3 {
        margin-top: 56px;
        margin-left: -179px;
    }

    .btn__1 {
        height: 35px;
        margin-left: 85px;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 0;
        margin-top: 60px;
    }

    .btn__1 > b {
        width: 108px;
        height: 12px;
    }

    .contakt {
        margin-left: -170px;
        margin-top: 5px;
    }

    .items__second_1text {
        display: none;
    }

    .items__second_1 {
        margin-left: 10px;
        display: flex;
        width: 50px;
    }

    .katalog__1 {
        margin-top: 18px;
        margin-left: 17px;
        width: 40px;
    }

    .items__second_3 {
        margin-left: 5px;
        margin-right: 17px;
    }

    .items__second_3_before {
        margin-left: -55px;
    }

    input {
        width: 280px;
        margin-left: -20px;
    }

    .btn__2 {
    }

    .items__second_3 > p {
        margin-left: 3px;
    }

    .searches {
        display: none;
    }

    .fourth__1 {
        width: 515px;
        height: 345px;
        margin: 25px;
        border-radius: 20px;
    }

    .fourth {
        display: flex;
        flex-direction: row;
        margin: 0;
        height: 400px;
    }

    .fourth__1 > img {
        display: none;
    }

    .fourth__text > h1 {
        margin-top: 50px;
        font-size: 25px;
        line-height: 19px;
        margin-left: -35px;
    }

    .fourth__text > h3 {
        font-size: 14px;
        line-height: 12px;
        margin-left: -270px;
        margin-top: -25px;
    }

    .text__h2h5 > h2 {
        width: 134px;
        height: 23px;
        font-size: 23px;
        line-height: 23px;
        color: #005BB9;
        margin-left: -70px;
    }

    .text__h2h5 > h5 {
        width: 100px;
        height: 16px;
        font-size: 18px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #C2C5DA;
        margin-left: -70px;
        margin-bottom: 0;
    }

    .text__h2h5 {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -150px;
        margin-top: -8px;
    }

    .btn__3 {
        margin-left: -200px;
        margin-top: 2px;
    }

    .kolo {
        margin-top: 104px;
        margin-left: 3px;
    }

    .img__left {
        display: none;
    }

    .fourth__img > img {
        width: 187px;
        height: 175px;
        margin-left: -54px;
        margin-top: -80px;
    }

    .fourth__img {
        width: 131px;
        height: 111px;
        margin-left: 330px;
        margin-top: -190px;
    }

    .price__1 > h3 {
        margin-top: -5px;
        margin-left: -63px;
    }

    .price__1 {
        margin-right: 11px;
        margin-top: 17px;
    }

    .fourth__2 {
        display: flex;
    }

    .btn__4 {
        width: 45px;
        height: 42px;
    }

    .fourth__2_1 {
        margin-left: 1px;
        width: 250px;
        height: 179px;
    }

    .fourth__2_1 > h4 {
        width: 36px;
        height: 14px;
        font-size: 12px;
        line-height: 14px;
        color: #0F2438;
    }

    .mufta {
        justify-content: start !important;
    }

    .mufta > h4 {
        margin-top: -70px;
        margin-left: 82px;
    }

    .mufta > p {
        margin-left: 82px;
    }

    .fifth {
        margin-left: -18px;
    }

    .fifth__1 > img {
        display: none;
    }

    .fifth__1 {
        width: 310px;
        height: 154px;
        margin-left: 55px;
    }

    .fifth__img > img {
        width: 90px;
        height: 130px;
        margin-left: 40px;
        margin-top: 22px;
    }

    .fifth__img_2 > img {
        width: 90px;
        height: 130px;
        margin-left: -25px;
        margin-top: 12px;
    }

    .fifth__text > h3 {
        font-size: 20px;
    }

    .fifth__text > p {
        font-size: 14px;
        width: 150px;
        line-height: 7px;
    }

    .btn__5 {
        margin: 10px;
    }

    .fifth__1 > .m-4 {
        margin: 5px !important;
    }

    .sixth__1 {
        margin-left: 3px;
    }

    .btn__2 {
        width: 70px;
    }

    .sixth__1 > p {
        width: 159px;
    }

    .sixth {
        width: 530px;
    }

    .sixth__3 > p {
        width: 150px;
    }

    .seventh {
        width: 550px;
    }

    .seventh__1_1 {
        width: 220px;
        height: 266px;
        margin-left: 35px;
    }

    .seventh__1_1 > img {
        width: 168px;
        height: 132px;
    }

    .seventh__1_1 > h6 {
        width: 138px;
        height: 34px;
        font-style: normal;
        font-size: 12px;
        line-height: 17px;
        color: #0A1A2C;
    }

    .nope {
        display: none !important;
    }

    .group__141 {
        display: none;
    }
    .seventh__flex{
        display: flex!important;
    }
    .seventh__2 > .nop {
        display: flex;
    }

    .seventh__1 {
        height: 350px;
    }

    .seventh__2 {
        height: 350px;
    }

    .seventh__more {
        margin-left: 287px;
        margin-top: 25px;
    }

    .items > h1 {
        margin-left: 50px;
        margin-top: 50px;
    }

    .nineth {
        flex-direction: row;
    }

    .nineth__1 {
        margin-left: 20px;
        margin-top: -10px;
    }

    .nineth__2 {
        margin-left: 30px;
        margin-top: -10px;
    }

    .nineth__3 {
        margin-left: 30px;
        margin-top: -10px;
    }

    .nineth__4 {
        display: none;
    }

    .tenth {
        height: 800px;
        flex-wrap: wrap;
    }

    .tenth__1_1 {
        margin-top: -16px;
    }

    .tenth__1 {
        margin-left: 83px;
        width: 163px;
    }

    .tenth__1_4 > input {
        width: 230px;
    }

    .write {
        width: 100px;
    }

    .tenth__contact {
        margin-left: -10px;
        display: flex;
    }

    .tenth__1_2 {
        margin: 0 -173px;
    }

    .tenth__1_3 {
        margin-left: 20px;
    }

    .text__6_contakt {
        margin-left: 20px;
        line-height: 60px;
    }

    .nop {
        display: flex !important;
    }

    .contakt > p {
        width: 154px;
    }

    .nineth__1 > p {
        width: 197px;
    }

    .nineth__2 > h6 {
        width: 250px;
    }

    .nineth__3 > h6 {
        width: 220px;
    }

    .items__second_3_before::before, .items__second_3_before::after {
        margin: 0 7px;
    }

    .items__second_3_before > p {
        width: 54px;
    }

    .nineth__2 > p {
        line-height: 15px;
    }

    .nineth__3 > p {
        font-size: 15px;
        width: 240px;
    }

    .tenth__1 > span {
        margin-left: -248px;
    }

    .tenth__1_2 > h6 {
        line-height: 115px;
        margin-top: -87px;
        margin-left: 177px;
    }

    .tenth__1_2 > h5 {
        margin-left: -77px;
        margin-bottom: 0;
    }

    .tenth__1_4 > input {
        width: 320px;
    }

    .tenth__1_3 {
        margin-top: -22px;
    }

}