.header {
    height: 100vh;
    background: white;
}

.menu {
    width: 1920px;
    height: 36px;
    background: #0F2438;
}
.font__family{
    font-family: Roboto;
}
.nav-item > .nav-link, .disabled {
    width: 200px;
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-size: 17px;
    line-height: 16px;
    color: #FFFFFF;
}

.nav-link, .dropdown-toggle {
    width: 170px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-size: 17px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 20px;
}

.nav-link {
    width: 104px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.width {
    max-width: 1920px;
}

.items {
    width: 1920px;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.items__first {
    height: 110px;
}

.items__first_1 {
    width: 246px;
    height: 83px;
    margin-left: 213px;
    margin-top: 20px;
}

.items__first_1 > img {
    width: 66px;
    height: 71px;
}

.items__first_1 > div, h1 {
    width: 168px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #0F2438;
}

.items__first_1 div > p, b {
    width: 170px;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;

}

.items__first_2 {
    width: 258px;
    height: 40px;
    margin-top: 41px;
    margin-left: 100px;
}

.items__first_2 > img {
    width: 32px;
    height: 32px;
}

.items__first_2 > p {
    width: 192px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.items__first_3 {
    width: 179px;
    height: 32px;
    cursor: pointer;
    margin-top: 45px;
    margin-left: 88px;

}

.items__first_3 > p {
    width: 127px;
    font-family: Roboto;
    font-size: 34px;
    line-height: 16px;
    color: #0F2438;
}

.btn__1 {
    width: 224px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
    border: none;
    margin-left: 62px;
    margin-top: 46px;
}

.btn__1 > p {
    width: 154px;
    height: 14px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    margin-top: 15px;
}

.contakt {
    width: 187px;
    height: 40px;
    margin-left: 86px;
    margin-top: 41px;
}

.contakt > h4 {
    width: 157px;
    height: 23px;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.contakt > p {
    width: 180px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    margin-left: 20px;
}

.items__second {
    height: 87px;
}

.items__second_1 {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    margin-left: 213px;
    margin-top: 10px;
}

.katalog {
    width: 20px;
    height: 3px;
    background: #FFFFFF;
    margin-top: 2px;
}

.items__second_1text > p {
    width: 68px;
    height: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-left: -12px;
}

.katalog__1 {
    margin-top: 18px;
    margin-left: 32px;
}

.items__second_2 {
    width: 649px;
    height: 53px;
    margin-left: 30px;
    margin-top: 10px;
}

input {
    width: 549px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    border: none;
}

.btn__2 {
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
}

.items__second_3 > img {
    height: 28px;
    width: 28px;
}

.items__second_3 > p {
    width: 70px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.items__second_3 {
    margin-top: 20px;
}

.margin70 {
    margin-left: 70px;
}

.margin35 {
    margin-left: 15px;
}

.items__second_3_before > img {
    height: 28px;
    width: 28px;
}

.items__second_3_before > p {
    width: 70px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.items__second_3_before {
    margin-top: 20px;
}

.items__second_3_before::before,
.items__second_3_before::after {
    content: "";
    display: block;
    height: 28px;
    left: 1334px;
    top: 172px;
    border: 1px solid #E1E5F8;
    margin: 0 25px;
}

.fourth__1 {
    height: 390px;
    background: url(../image/backgraund_1.png) no-repeat;
}

.fourth {
    margin-left: 250px;
    margin-top: 30px;
}

.fourth__text {
    width: 436px;
}

.fourth__text > h1 {
    width: 324px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.fourth__text > h2 {
    width: 200px;
    height: 43px;
    font-family: Roboto;
    font-style: normal;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.text__h2h5 {
    margin-top: 20px
}

.text__h2h5 > h5 {
    width: 117px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    margin: 10px;
}

.btn__3 {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    margin-top: 10px;
}

.btn__3 > p {
    width: 75px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    color: #FFFFFF;
    margin: 10px 10px;
}

.btn__3 > img {
    margin-left: 20px;
    margin-top: 10px;
}

.fourth__img {
    width: 417px;
    height: 356px;
}

.fourth__2_1 {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    margin: 5px;
}

.mufta > h4 {
    width: 186px;
    height: 46px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    margin-top: 10px;
    margin-left: 20px;
}

.mufta > p {
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 1px;
    color: #525252;
    margin-left: 14px;
}

.price__1 > h2 {
    width: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    margin-top: 13px;
}

.price__1 > h3 {
    width: 51px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    margin-top: 15px;
}

.btn__4 {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    margin-left: 30px;
    margin-right: 20px;
}

.img__left {
    margin-top: 150px;
    cursor: pointer;
}

.kolo {
    margin-top: 40px;
    margin-left: 450px;
}

.fifth__1 {
    width: 431px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    margin-left: 30px;
    border-radius: 6px;
    margin-top: 50px;
}

.fifth__text > strong {
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}

.fifth__text > p {
    width: 182px;
    font-family: Roboto;
    font-style: normal;
    font-size: 17px;
    line-height: 13px;
    color: #0A1A2C;
}

.btn__5 {
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    color: #FFFFFF;
}

.fifth__img {
    width: 154px;
    height: 202px;
    margin-left: 10px;
    margin-top: -8px;
}

.fifth {
    margin-left: 220px;
}

.fifth__1 > img {
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-left: -40px;
}

.fifth__img_2 {
    width: 154px;
    height: 202px;
    margin-left: 40px;
    margin-top: -8px;
}

.fifth__img_3 {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: -50px;
}

.sixth__btn {
    width: 241px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
}

.sixth {
    height: 150px;
}

.sixth__1 {
    width: 241px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
}

.sixth__1 > p {
    width: 177px;
    height: 23px;
    font-family: Roboto, serif;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.sixth__2 {
    width: 123px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 10px;
}

.sixth__2 > p {
    width: 59px;
    height: 23px;
    font-family: Roboto;
    font-size: 20px;
    color: #005BB9;
    cursor: pointer;
}

.sixth__3 {
    width: 229px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 10px;
}

.sixth__3 > p {
    width: 165px;
    height: 23px;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    color: #005BB9;
    cursor: pointer;
}

.mar100 {
    margin-top: 100px;
}

.mar120 {
    margin-left: 250px;
}

.seventh {
    width: 1920px;
    height: 1100px;
}

.seventh__1_1 {
    width: 316px;
    height: 418px;
    margin-top: 50px;
    margin-left: 250px;
}

.seventh__1_1 > img {
    width: 276px;
    height: 235px;
}

.star > img {
    width: 16px;
    height: 16px;
}

.star > p {
    width: 20px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    color: #FFB800;
}

.star > span {
    width: 76px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    margin-left: 10px;
    margin-top: 3px;
}

.seventh__1_1 > h6 {
    width: 316px;
    height: 25px;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}

.seventh__1_1price > p {
    width: 35px;
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-size: 13px;
    color: #000000;
    margin-top: 4px;
}

.seventh__1_1price > span {
    width: 80px;
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    text-decoration-line: underline;
    color: #005BB9;
    margin-left: 10px;
}

.seventh__1_1price {
    width: 140px;
}

.btn__6 {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}

.btn__6 > p {
    width: 75px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 10px;
}

.heart__1 {
    width: 21px;
    height: 18px;
    margin: 15px;
}

.group__141 {
    width: 21px;
    height: 16px;
    margin-top: 15px;
}

.seventh__1_2tekst {
    width: 39px;
    height: 20px;
    background: #FFB800;
    border-radius: 2px;
    color: white;
}

.seventh__1_price_gold > p {
    width: 72px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.seventh__1_price_gold > span {
    width: 51px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.mar30 {
    margin-left: 50px;
    margin-top: 30px;
}

.margin50 {
    margin-top: 50px;
    margin-left: 50px;
}

.seventh__1::after {
    content: "";
    display: block;
    width: 1354px;
    height: 1px;
    background: #E1E5F8;
    margin-top: 470px;
    margin-left: -1400px;
}

.seventh__more {
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 850px;
}

.seventh__more > p {
    width: 107px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    color: #005BB9;
    line-height: 35px;
    cursor: pointer;
}

.items > h1 {
    width: 113px;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-left: 250px;
}

.eigth {
    height: 9px;
    background: #F5F5F5;
}

.nineth {
    height: 400px;
}

.nineth__1 > h6 {
    width: 153px;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
    margin-top: 10px;
}

.nineth__1 > p {
    width: 284px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
    margin-top: 15px;
}

.nineth__1 {
    margin-left: 250px;
    margin-top: -10px;
}

.nineth__2 > h6 {
    width: 191px;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nineth__2 > p{
    font-style: normal;
    font-size: 16px;
    color: #242424;
    line-height: 10px;
}
.nineth__3 > h6{
    width: 268px;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nineth__3 > p{
    width: 260px;
    font-style: normal;
    font-size: 16px;
    line-height: 10px;
    color: #242424;
}
.marg{
    margin-top: -10px;
    margin-left: 100px;
}
.nineth__4 > h6{
    width: 278px;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}
.nineth__4 > p{
    width: 252px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}
.tenth{
    height: 410px;
    background: #0C1A2A;
}
.tenth__1 > h5{
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    margin-top: 30px;
}
.tenth__1 > p{
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.tenth__1{
    margin-left: 150px;
}
.marleft150{
    margin-left: 150px;
}
.tenth__1_1 > p{
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 5px;
}
.margleft_100{
    margin-left: 100px;
}
.tenth__1_2 > h5{
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tenth__1_2 > h6{
    font-style: normal;
    font-size: 18px;
    line-height: 1px;
    color: #868DAC;
    margin-top: 20px;
}

.tenth__1 > span{
    width: 195px;
    height: 21px;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 20px;
}
.tenth__1_4 > input{
    width: 320px;
    height: 40px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
    background: #0C1A2A;
}
.write{
    width: 177px;
    height: 40px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
}
.tenth__1_3{
    margin-top: 30px;
    margin-left: -250px;
}
.eleventh{
    background: #0C1A2A;
}
.text__6_contakt{
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    margin-left: 250px;
}
.menu__1_mobile{
    display: none;
}
.searches{
    display: none;
    width: 54px;
    height: 54px;
    background: #005BB9;
    border-radius: 0 4px 4px 0;
}
.searches > img{
    height: 20px;
    width: 20px;
    margin: 15px;
}
.nop{
    display: none!important;
}
.margleft__250{
    margin-left: 250px;
}
.tenth__1_2{
    margin-left: -250px;
    margin-top: -38px;
}
