@media screen and (max-width: 500px){
    .second{
        display: flex;
        flex-direction: column;
        height: 855px;

    }
    .second__2 >img{
        width: 354px;
        height: 355px;
    }
    .third__img >img{
        width: 354px;
        height: 355px;
        margin-bottom: 100px;
    }
    .third__1 >h2, p{
        left: 15px;
        top: 1219px;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 32px;
        color: #45494F;
    }
    .third{
        height: 704px;
        display: flex;
        flex-direction: column!important;
        margin-left:100px;

    }
}